<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>矢場とん</key>
	<dict>
		<key>description</key>
		<string>豚のアイコンに矢場の前掛け。これを見たら一瞬で味噌カツを食べたくなる。
	名古屋市中区矢場町に本店を構える矢場とん。たとえ矢場とんがなくなっても、どうか味噌カツだけはこの世から無くさないでください。薄情な私のために。</string>
		<key>image</key>
		<string>yabaton.jpg</string>
		<key>latitude</key>
		<string>34.2749215</string>
		<key>longitude</key>
		<string>134.9391058</string>
	</dict>
	<key>クローチェ</key>
	<dict>
		<key>description</key>
		<string>これが『一宮モーニング』だ！
ドリンク１杯だけでついてくるデニッシュパン。平日でも朝から1時間ほど並べますよ。
https://matome.naver.jp/odai/2141502703449550001</string>
		<key>image</key>
		<string>croche.jpg</string>
		<key>latitude</key>
		<string>35.1378736</string>
		<key>longitude</key>
		<string>136.9504091</string>
	</dict>
	<key>金シャチ珈琲店</key>
	<dict>
		<key>description</key>
		<string>レンガと木目調の入り口、赤いソファ、デニッシュパンの上にソフトクリーム。
名古屋人ならば必ず安心感を感じる、けれどコメダではない。
コメダをリスペクトしてやまない？金シャチ珈琲店はこちらです。
https://jouhou.nagoya/kinshachi-coffee-mataho/</string>
		<key>image</key>
		<string>kinshachi.jpg</string>
		<key>latitude</key>
		<string>35.1969525</string>
		<key>longitude</key>
		<string>136.9019071</string>
	</dict>
	<key>喫茶マウンテン</key>
	<dict>
		<key>description</key>
		<string>名古屋で山登りといえばここ。
ゲテモノパスタにワンコインの極太パスタ。山のようなかき氷。数々の登山者が訪れる喫茶マウンテン。遭難も覚悟の上、お越しください。
http://asobigokoroblog.com/archives/43597888.html</string>
		<key>image</key>
		<string>mountain.jpg</string>
		<key>latitude</key>
		<string>35.144692</string>
		<key>longitude</key>
		<string>136.960639</string>
	</dict>
	<key>コメダ珈琲</key>
	<dict>
		<key>description</key>
		<string>名古屋発祥の喫茶店。赤いソファに沈み込み、シロノワールを食す。
他県に訪れても、コメダに入店してホーム感を味わう愛知県民も多いかもしれない。知らんけど。
コーヒーを頼むと無料で付いてくるモーニングは愛知県の一宮市や江南市が発祥と言われ、ここフィリピンでも見かけます。
ただし、本場のモーニングを見たかったら、コメダではなく別の場所もご案内いたします。</string>
		<key>image</key>
		<string>komeda.png</string>
		<key>latitude</key>
		<string>35.1378736</string>
		<key>longitude</key>
		<string>136.9504091</string>
	</dict>
</dict>
</plist>
